html {
  font-family: "Open Sans";
  scroll-behavior: smooth;
  font-size: 16px;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}
p {
  /* font-family: "Open Sans"; */
  font-weight: 400;
  font-size: 1.125rem;
  color: #393939;
}

h1,
h2 {
  /* font-family: "Open Sans"; */
  font-size: 3.75rem;
  font-weight: 300;
  color: #393939;
  margin: 0;
  text-align: center;
}

h3 {
  /* font-family: "Open Sans"; */
  font-size: 2.0625rem;
  font-weight: 300;
  color: #393939;
  margin: 0;
}

/* this gives the color to all navs and footer */
nav,
footer {
  background-color: #fff0ed;
}

/* this determines the display property for the nav on both pages */
.primary-nav {
  /* width: 100%; */
  /* max-width: 100%; */
  box-sizing: border-box;
  display: flex;
  padding: 1rem;
  justify-content: flex-start;
}

/* not needed */
/* .primary-nav:last-child {
  justify-content: flex-end;
} */

.primary-nav__list {
  width: 100%;
  justify-content: right;
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  align-items: center;
}

/* this removes the bullets from all the li elements */
/* this makes all the ul elements inline-block */
.secondary-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
  align-items: center;
}
/* this is going to be prm-nav__img -- using BEM convention*/
/* .bean-image-logo { */
.primary-nav__img {
  min-width: 3.125rem;
  max-width: 7.5rem;
  background-repeat: no-repeat;
  vertical-align: top;
}

/* this makes all li elements in all ul inline-block  in primary nav */
/* .primary-nav__button {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
} */

/* this makes all li elements in all ul inline-block in secondary nav *** not needed after flex box display*/
/* .secondary-nav__button {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
} */

.primary-nav-link,
.primary-nav__button a {
  box-sizing: border-box;
  margin: 0.625rem;
  padding: 0.625rem;
  text-decoration: none;
  color: #393939;
}

/*this makes the shop now button nitro blue on the menu page*/
#shop-now-menu {
  color: #5bacc3;
}
/*this makes the shop now button nitro blue on the main page*/
#shop-now-main {
  color: #5bacc3;
}
