@-webkit-keyframes background-change {
  0% {
    background-color: #393939;
  }
  2% {
    background-color: #5bacc3;
  }
  4% {
    background-color: #393939;
  }
  8% {
    background-color: #5bacc3;
  }
  10% {
    background-color: #393939;
  }
  12% {
    background-color: #5bacc3;
  }
  14% {
    background-color: #393939;
  }
  16% {
    background-color: #5bacc3;
  }
  18% {
    background-color: #393939;
  }
  20% {
    background-color: #5bacc3;
  }
  22% {
    background-color: #393939;
  }
  24% {
    background-color: #5bacc3;
  }
  26% {
    background-color: #393939;
  }
  28% {
    background-color: #5bacc3;
  }
  30% {
    background-color: #393939;
  }
  32% {
    background-color: #5bacc3;
  }
  34% {
    background-color: #393939;
  }
  36% {
    background-color: #5bacc3;
  }
  38% {
    background-color: #393939;
  }
  40% {
    background-color: #5bacc3;
  }
  42% {
    background-color: #5bacc3;
  }
  44% {
    background-color: #393939;
  }
  46% {
    background-color: #5bacc3;
  }
  48% {
    background-color: #393939;
  }
  50% {
    background-color: #5bacc3;
  }
  52% {
    background-color: #393939;
  }
  54% {
    background-color: #5bacc3;
  }
  56% {
    background-color: #393939;
  }
  58% {
    background-color: #5bacc3;
  }
  60% {
    background-color: #393939;
  }
  62% {
    background-color: #5bacc3;
  }
  64% {
    background-color: #393939;
  }
  66% {
    background-color: #5bacc3;
  }
  68% {
    background-color: #393939;
  }
  70% {
    background-color: #5bacc3;
  }
  72% {
    background-color: #393939;
  }
  74% {
    background-color: #5bacc3;
  }
  76% {
    background-color: #393939;
  }
  78% {
    background-color: #5bacc3;
  }
  80% {
    background-color: #393939;
  }
  82% {
    background-color: #5bacc3;
  }
  84% {
    background-color: #5bacc3;
  }
  86% {
    background-color: #393939;
  }
  88% {
    background-color: #5bacc3;
  }
  90% {
    background-color: #393939;
  }
  92% {
    background-color: #5bacc3;
  }
  94% {
    background-color: #393939;
  }
  96% {
    background-color: #5bacc3;
  }
  98% {
    background-color: #5bacc3;
  }
  100% {
    background-color: #393939;
  }
  0% {
    background-color: #5bacc3;
  }
  2% {
    background-color: #5bacc3;
  }
}
@keyframes background-change {
  0% {
    background-color: #393939;
  }
  2% {
    background-color: #5bacc3;
  }
  4% {
    background-color: #393939;
  }
  8% {
    background-color: #5bacc3;
  }
  10% {
    background-color: #393939;
  }
  12% {
    background-color: #5bacc3;
  }
  14% {
    background-color: #393939;
  }
  16% {
    background-color: #5bacc3;
  }
  18% {
    background-color: #393939;
  }
  20% {
    background-color: #5bacc3;
  }
  22% {
    background-color: #393939;
  }
  24% {
    background-color: #5bacc3;
  }
  26% {
    background-color: #393939;
  }
  28% {
    background-color: #5bacc3;
  }
  30% {
    background-color: #393939;
  }
  32% {
    background-color: #5bacc3;
  }
  34% {
    background-color: #393939;
  }
  36% {
    background-color: #5bacc3;
  }
  38% {
    background-color: #393939;
  }
  40% {
    background-color: #5bacc3;
  }
  42% {
    background-color: #5bacc3;
  }
  44% {
    background-color: #393939;
  }
  46% {
    background-color: #5bacc3;
  }
  48% {
    background-color: #393939;
  }
  50% {
    background-color: #5bacc3;
  }
  52% {
    background-color: #393939;
  }
  54% {
    background-color: #5bacc3;
  }
  56% {
    background-color: #393939;
  }
  58% {
    background-color: #5bacc3;
  }
  60% {
    background-color: #393939;
  }
  62% {
    background-color: #5bacc3;
  }
  64% {
    background-color: #393939;
  }
  66% {
    background-color: #5bacc3;
  }
  68% {
    background-color: #393939;
  }
  70% {
    background-color: #5bacc3;
  }
  72% {
    background-color: #393939;
  }
  74% {
    background-color: #5bacc3;
  }
  76% {
    background-color: #393939;
  }
  78% {
    background-color: #5bacc3;
  }
  80% {
    background-color: #393939;
  }
  82% {
    background-color: #5bacc3;
  }
  84% {
    background-color: #5bacc3;
  }
  86% {
    background-color: #393939;
  }
  88% {
    background-color: #5bacc3;
  }
  90% {
    background-color: #393939;
  }
  92% {
    background-color: #5bacc3;
  }
  94% {
    background-color: #393939;
  }
  96% {
    background-color: #5bacc3;
  }
  98% {
    background-color: #5bacc3;
  }
  100% {
    background-color: #393939;
  }
  0% {
    background-color: #5bacc3;
  }
  2% {
    background-color: #5bacc3;
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(-180deg);
  }
  5% {
    transform: rotate(-360deg);
  }
  15% {
    transform: rotate(-540deg);
  }
  20% {
    transform: rotate(-720deg);
  }
  25% {
    transform: rotate(-900deg);
  }
  30% {
    transform: rotate(-1080deg);
  }
  35% {
    transform: rotate(-1260deg);
  }
  40% {
    transform: rotate(-1440deg);
  }
  45% {
    transform: rotate(-1620deg);
  }
  50% {
    transform: rotate(-1800deg);
  }
  55% {
    transform: rotate(-1980deg);
  }
  60% {
    transform: rotate(-2160deg);
  }
  65% {
    transform: rotate(-2340deg);
  }
  70% {
    transform: rotate(-2520deg);
  }
  75% {
    transform: rotate(-2700deg);
  }
  80% {
    transform: rotate(-2880deg);
  }
  85% {
    transform: rotate(-3060deg);
  }
  90% {
    transform: rotate(-3240deg);
  }
  95% {
    transform: rotate(-3420deg);
  }
  100% {
    transform: rotate(-3600deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(-180deg);
  }
  5% {
    transform: rotate(-360deg);
  }
  15% {
    transform: rotate(-540deg);
  }
  20% {
    transform: rotate(-720deg);
  }
  25% {
    transform: rotate(-900deg);
  }
  30% {
    transform: rotate(-1080deg);
  }
  35% {
    transform: rotate(-1260deg);
  }
  40% {
    transform: rotate(-1440deg);
  }
  45% {
    transform: rotate(-1620deg);
  }
  50% {
    transform: rotate(-1800deg);
  }
  55% {
    transform: rotate(-1980deg);
  }
  60% {
    transform: rotate(-2160deg);
  }
  65% {
    transform: rotate(-2340deg);
  }
  70% {
    transform: rotate(-2520deg);
  }
  75% {
    transform: rotate(-2700deg);
  }
  80% {
    transform: rotate(-2880deg);
  }
  85% {
    transform: rotate(-3060deg);
  }
  90% {
    transform: rotate(-3240deg);
  }
  95% {
    transform: rotate(-3420deg);
  }
  100% {
    transform: rotate(-3600deg);
  }
}
/* background color change for section containin "Nitro Coffee"
and big coffee bag img */
header {
  background-color: #fff0ed;
}

.hero-banner {
  display: flex;
  width: 100%;
}
.hero-banner__image {
  margin: 2% 10% 2% 25%;
}
.hero-banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
.hero-banner__content__header {
  box-sizing: border-box;
  width: 70%;
  text-align: left;
  margin-left: 20%;
}
.hero-banner__content__text {
  box-sizing: border-box;
  width: 70%;
  text-align: left;
  margin-left: 20%;
}
.hero-banner__content__cta-container {
  background-color: #5bacc3;
  box-sizing: border-box;
  position: relative;
  width: 11.25rem;
  font-size: 1.3125rem;
  margin-left: 20%;
  margin-top: 5%;
}
.hero-banner__content__cta-container__item {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  min-width: 100%;
  border: 0.125rem solid #393939;
  color: white;
  padding: 0.625rem;
  bottom: 0.3125rem;
  right: 0.3125rem;
}
.hero-banner__content__cta-container__item:active {
  bottom: 0;
  right: 0;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #f7f7f7;
}
.product__header {
  margin: 2.5% auto;
}
.product__cta {
  background-color: #5bacc3;
  box-sizing: border-box;
  position: relative;
  min-width: 11.25rem;
  font-size: 1.3125rem;
  text-align: center;
  color: white;
  border: none;
  margin: 5% auto;
}
.product__cta__background {
  box-sizing: border-box;
  display: flex;
  border: 0.125rem solid #393939;
  min-width: 11.25rem;
  justify-content: center;
  position: relative;
  padding: 0.625rem;
  bottom: 0.3125rem;
  right: 0.3125rem;
}
.product__cta__background:active {
  bottom: 0;
  right: 0;
}
.product__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.product__list__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  min-width: 20.625rem;
  max-width: 21.875rem;
  min-height: 27.5rem;
  max-height: 28.75rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.3125rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.25);
  padding-top: 2%;
  margin: 2.5%;
}
.product__list__card__image {
  min-height: 15rem;
  max-height: 34.275rem;
  background-repeat: no-repeat;
  background-position: center;
  margin: 2.5% 0;
}
.product__list__card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff0ed;
  width: 100%;
  height: 35%;
  border-radius: 0 0 0.625rem 0.625rem;
}
.product__list__card__description__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.product__list__card__description__container__header {
  width: 100%;
  margin-left: 5%;
}
.product__list__card__description__container__quantity {
  width: 100%;
  margin: 0 0 0 5%;
  color: #909090;
}
.product__list__card__description__price {
  text-align: center;
  font-size: 1.75rem;
  color: #5bacc3;
  margin-right: 5%;
  font-weight: 700;
}

.discount {
  display: flex;
  flex-direction: column;
}
.discount__banner {
  background-color: #393939;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  max-width: 90%;
  font-size: 2.8125rem;
  color: white;
  text-align: center;
  padding: 1.5rem 1rem;
  margin: 10% 5%;
  -webkit-animation-name: "background-change";
  animation-name: "background-change";
  -webkit-animation-duration: 60s;
  animation-duration: 60s;
}
.discount__banner__word {
  font-weight: 700;
}
.discount__main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.discount__main__elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 15% 0;
}
.discount__main__elements__header {
  width: 70%;
  margin-left: 20%;
  text-align: left;
}
.discount__main__elements__description {
  width: 70%;
  margin-left: 20%;
  text-align: left;
}
.discount__main__elements__graphics {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-left: 20%;
  text-align: left;
  justify-content: space-between;
}
.discount__main__elements__graphics__logos {
  max-width: 3.125rem;
  justify-content: space-between;
}
.discount__main__elements__cta {
  box-sizing: border-box;
  position: relative;
  background-color: #5bacc3;
  width: 35%;
  margin-left: 20%;
  margin-top: 10%;
}
.discount__main__elements__cta__item {
  display: flex;
  position: relative;
  border: 0.125rem solid #393939;
  max-width: 100%;
  font-size: 1.3125rem;
  justify-content: center;
  color: white;
  padding: 0.625rem;
  box-sizing: border-box;
  min-width: 11.25rem;
  bottom: 0.3125rem;
  right: 0.3125rem;
}
.discount__main__elements__cta__item:active {
  bottom: 0;
  right: 0;
}
.discount__main__image-container {
  box-sizing: border-box;
  position: relative;
  /* margin: 5% 5%; */
  width: 31.25rem;
  height: 40rem;
  background: url("../assets/coldbrewbackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 10% 10%;
}
.discount__main__image-container__image {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 40rem;
  padding: 10% 5%;
  /* justify-content: */
  border: #5bacc3 0.3125rem solid;
  position: relative;
  bottom: 2rem;
  right: 2rem;
}
.discount__main__image-container__image:hover {
  -webkit-animation: "rotate";
  animation: "rotate";
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  transition-timing-function: ease-in-out;
}

.social-logos {
  min-width: 3.125rem;
  max-width: 7.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer {
  display: flex;
  display: relative;
  justify-content: space-between;
  padding: 5% 5%;
}
.footer__logo-images {
  width: 6.25rem;
  height: 6.25rem;
  margin: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.6;
  margin-left: -8%;
  margin-right: 100%;
  margin-top: -4%;
}
.footer__logo-images--position-right {
  margin-left: 87%;
  margin-right: 0%;
  margin-top: 8%;
}
.footer__location {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.footer__location__header {
  margin-bottom: 5%;
}
.footer__location__description {
  margin: 0 0 0 0;
}
.footer__schedule {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.footer__schedule__header {
  margin-bottom: 5%;
}
.footer__schedule__description {
  margin: 0 0 0 0;
}
.footer__schedule__description__highlight {
  font-weight: 700;
}
.footer__social {
  display: inline-block;
  vertical-align: top;
  text-align: left;
} /*# sourceMappingURL=landing.css.map */
