/* background color change for section containin "Nitro Coffee"
and big coffee bag img */

header {
  background-color: #fff0ed;
}

.hero-banner {
  display: flex;
}

.hero-banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-banner__content__header,
.hero-banner__content__text {
  box-sizing: border-box;
  width: 70%;
  text-align: left;
  margin-left: 15%;
}

.hero-banner__content__cta {
  box-sizing: border-box;
  margin-left: 15%;
  min-width: 11.25rem;
  max-width: 80%;
  padding: 0.625rem;
  margin-top: 4.5%;
}

.hero-banner__image {
  padding: 2% 10% 2% 25%;
  /* padding: 1.25rem; */
  /* display: inline-block; */
}

.hero-banner__content__cta,
.product__cta {
  background-color: #5bacc3;
  max-width: 30%;
  font-size: 1.3125rem;
  text-align: center;
  color: white;
  border: none;
  padding: 1rem;
}

.product-card__img {
  min-height: 15rem;
  max-height: 34.275rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 10%;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  background-color: #f7f7f7;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.product-card-master {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.product-header {
  margin-bottom: 2.5%;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  min-width: 20.625rem;
  max-width: 21.875rem;
  min-height: 27.5rem;
  max-height: 28.75rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.3125rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.25);
  /* padding-top: 2%; */
  margin: 2.5%;
}

.product-card__price {
  font-size: 1.75rem;
}

.product-card__price--color {
  color: #5bacc3;
}

.product__cta {
  display: block;
  margin: 15% auto;
  min-width: 11.25rem;
  max-width: 80%;
  padding: 0.625rem;
}

.social-logos {
  min-width: 3.125rem;
  max-width: 7.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.discount-section__text {
  background-color: #393939;
  min-width: min-content;
  max-width: 100%;
  font-size: 2.8125rem;
  color: white;
  text-align: center;
  padding: 1.5rem 1rem;
}

.discount-section__text__word {
  font-weight: 700;
}

.discount-section {
  margin: 15% 5% 15% 5%;
}

.footer__location {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  text-align: left;
  margin-left: 5%;
}

.footer__schedule {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  text-align: left;
  margin-left: 5%;
}

.footer {
  padding: 5% 5%;
}

.footer__social {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  text-align: left;
  margin-left: 8%;
}

.footer__location__header,
.footer__schedule__header {
  margin-bottom: 5%;
}

.footer__location__description,
.footer__schedule__description {
  margin: 2% 0 0 0;
}
